.hello-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color 0.5s;
}
.color-btn{
    padding: 15px 25px;
    font-size: 1em;
    color: white;
    background-color:black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transfrom 0.3s;
}
.color-btn:hover{
    background-color: rgb(59, 55, 55) ;
    transform: scale(1.05);
}